In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('body_mass_index_multi.csv')

In [3]:
data

    height(ft)  gender  age  weight(kg)
0         5.70    male   25          53
1         5.90    male   24          59
2         5.60  female   18          51
3         6.30    male   28          65
4         5.90    male   34          60
5         5.70    male   16          48
6         5.11    male   35          52
7         5.10  female   22          53
8         5.90    male   20          57
9         5.50  female   25          59
10        5.40  female   26          60
11        5.90    male   29          61
12        4.90  female   29          58
13        6.50    male   34          68
14        5.10  female   38          63

In [4]:
data['gender']=pd.get_dummies(data['gender'],drop_first=True)

In [5]:
data

    height(ft)  gender  age  weight(kg)
0         5.70       1   25          53
1         5.90       1   24          59
2         5.60       0   18          51
3         6.30       1   28          65
4         5.90       1   34          60
5         5.70       1   16          48
6         5.11       1   35          52
7         5.10       0   22          53
8         5.90       1   20          57
9         5.50       0   25          59
10        5.40       0   26          60
11        5.90       1   29          61
12        4.90       0   29          58
13        6.50       1   34          68
14        5.10       0   38          63

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
mul=LinearRegression()

In [8]:
mul.fit(data[['height(ft)','age','gender']],data['weight(kg)'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
mul.predict([[5.3,21,1]])

array([47.96315263])

In [10]:
mul.score(data[['height(ft)','age','gender']],data['weight(kg)'])

0.8235701771101304